# Ignore build output directories
bin/
obj/
Debug/
Release/

# Ignore nested bin/ and obj/ directories
**/bin/
**/obj/

# Ignore Visual Studio files
.vs/
*.user
*.suo
*.sln.docstates

# Ignore ReSharper files
_ReSharper*/

# Ignore NuGet packages
packages/

# Ignore Blazor WebAssembly build artifacts
*.wasm
*.json
*.pdb
tmp-*/**

# Ignore other temporary files
*.cache
*.log

.idea/

src/src.sln
